@font-face {
  font-family: "iconfont"; /* Project id 3174565 */
  src: url('iconfont.woff2?t=1644408759062') format('woff2'),
       url('iconfont.woff?t=1644408759062') format('woff'),
       url('iconfont.ttf?t=1644408759062') format('truetype');
}



.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  margin-right: 5px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e60e";
  cursor: pointer;
}
.icon-xihuan2:before {
  content: "\e60e";
  color: #ec4141;
  cursor: pointer;
}

